# Jupyter checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc
*.pyo

# Environnement virtuel
venv/

# Fichiers système
.DS_Store
Thumbs.db

# Modèles lourds (optionnel : retire ces lignes si tu veux pousser les .pkl)
# models/*.pkl

# Logs et fichiers temporaires
*.log
*.tmp
.env

# Optuna (base de données de recherche d'hyperparamètres)
*.db